{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="free-educational-responsive-web-template-webEdu">

</head>

<body>


 	<header id="head" class="secondary">
            <div class="container">
                    <h1>Latest News Update</h1>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing eliras scele!</p> -->
                </div>
    </header>


    <!-- container -->
    <section class="container">
        <div class="row">
            <!-- main content -->
            <section class="col-sm-12 maincontent">
                <h3>News</h3>
               
            </section>
            <!-- /main -->


        </div>
    </section>
    <!-- /container -->


</body>
</html>
{% endblock %}